html * {
  -webkit-transition:all 0.3s 0s ease;
  -moz-transition:all 0.3s 0s ease;
  -o-transition:all 0.3s 0s ease;
  transition:all 0.3s 0s ease;
  border:none;
  outline:none;
  font-family:raleway, sans-serif;
}

body {
  margin:0;
  padding:0;
  text-align:center;
  background-color:#252645;
  color:#fff;
}

.container {
  height:95vh;
  display:flex;
  justify-content:center;
  flex-direction:column;
  align-items:center;
  margin:0;
  padding:0;
}

header {
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
  align-content:center;
  font-family:raleway, sans-serif;
  border:2px;
}

#title {
  font-size:2.4rem;
  margin-bottom:0;
  margin-top: 2%;
}

#total-text {
  margin:0;
  padding:0;
  opacity:0;
}

#total {
  color:#e3818e;
  margin-bottom:30px;
}

.grid-container {
  display:grid;
  justify-items:center;
  grid-template-columns:repeat(3, 1fr);
  grid-template-rows:repeat(3, 1fr);
  gap:1rem;
}

button {
  width:6rem;
  height:6rem;
  margin:0;
  padding:0;
  background-color:#fff;
  border-radius:5px;
  font-size:1.2rem;
  font-weight:bold;
}

button:hover {
  background-color:#ababab;
  color:#252645;
  cursor: pointer;
}

input#reset {
  width:10rem;
  height:6%;
  margin:1rem;
  background-color:#e65555ae;
  border-radius:10px;
  color:#fff;
  font-size:1.6em;
  font-weight:bold;
  line-height:1;
  -webkit-appearance:none;
  cursor: pointer;
}

input#reset:hover {
  background-color:#e65555;
}
